openapi: 3.2.0
info:
  title: Materials Zone Files API
  version: 2.0.0
  description: MaterialsZone's RESTful API is designed to facilitate seamless integration with your existing systems, enabling you to automate workflows, connect diverse data sources, and perform domain-specific analysis.
servers:
- url: https://api.materials.zone/v2beta1
security:
- ApiKey: []
tags:
- name: Files
  description: Files are used to store data not related to specific items.
paths:
  /files/{code}:
    get:
      tags:
      - Files
      summary: Get a file
      description: This operation retrieves file information.
      parameters:
      - name: code
        in: path
        required: true
        description: The code of the file.
        example: file-code
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/File'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getFilesByCode
      x-operation-id-source: derived
components:
  schemas:
    File:
      properties:
        code:
          type: string
          description: The code of the file.
        fileName:
          type: string
          description: The name of the file.
        downloadURL:
          type: string
          description: The download URL of the file.
        uploadURL:
          type: string
          description: The upload URL of the file.
      required:
      - code
      - fileName
      - downloadURL
      - uploadURL
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
