openapi: 3.2.0
info:
  title: Materials Zone Folders API
  version: 2.0.0
  description: MaterialsZone's RESTful API is designed to facilitate seamless integration with your existing systems, enabling you to automate workflows, connect diverse data sources, and perform domain-specific analysis.
servers:
- url: https://api.materials.zone/v2beta1
security:
- ApiKey: []
tags:
- name: Folders
  description: Folders are used to organize other Folders and Tables.
paths:
  /folders:
    get:
      tags:
      - Folders
      summary: Get all folders
      description: This operation retrieves all folders that are accessible to the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getFolders
      x-operation-id-source: derived
    post:
      tags:
      - Folders
      summary: Create a folder
      description: This operation creates a folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Title of the folder.
                  example: Material Properties
                description:
                  type: string
                  description: Description of the folder.
                  example: This folder contains tables with material properties.
                  nullable: true
                parentId:
                  type: string
                  format: uuid
                  description: UUID of the parent folder.
                  nullable: true
              required:
              - title
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Folder'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postFolders
      x-operation-id-source: derived
  /folders/{folderId}:
    get:
      tags:
      - Folders
      summary: Get a single folder
      description: This operation retrieves a single folder.
      parameters:
      - name: folderId
        in: path
        required: true
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        description: The UUID of the folder to return.
        schema:
          type: string
          format: uuid
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Folder'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getFoldersByFolderId
      x-operation-id-source: derived
components:
  schemas:
    Folder:
      properties:
        childFolderIds:
          type: array
          items:
            type: string
            format: uuid
            description: List of UUIDs of all folders nested under this folder.
          nullable: true
        childTableIds:
          type: array
          items:
            type: string
            format: uuid
            description: List of UUIDs of all tables nested under this folder.
          nullable: true
        description:
          type: string
          description: Description of this folder.
          example: This folder contains tables with material properties.
          nullable: true
        id:
          type: string
          format: uuid
          description: UUID of this folder.
        parentId:
          type: string
          format: uuid
          description: UUID of the parent folder.
          nullable: true
        title:
          type: string
          description: Title of this folder.
          example: Material Properties
      required:
      - id
      - parentId
      - title
      - description
      - childFolderIds
      - childTableIds
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
