openapi: 3.2.0
info:
  title: Materials Zone Parameters API
  version: 2.0.0
  description: MaterialsZone's RESTful API is designed to facilitate seamless integration with your existing systems, enabling you to automate workflows, connect diverse data sources, and perform domain-specific analysis.
servers:
- url: https://api.materials.zone/v2beta1
security:
- ApiKey: []
tags:
- name: Parameters
  description: Parameters are used to define the structure of columns in tables.
paths:
  /protocols/{protocolId}/parameters:
    post:
      tags:
      - Parameters
      summary: Create a new parameter in a protocol
      description: Creates a new parameter in a protocol.
      parameters:
      - name: protocolId
        in: path
        required: true
        description: The UUID of the protocol to create the parameter in.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          format: uuid
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Title of the parameter.
                  example: Boiling Point
                  nullable: true
                description:
                  type: string
                  description: Description of the parameter.
                  nullable: true
                valueType:
                  type: string
                  enum:
                  - QUANTITY
                  - TEXT
                  - BOOLEAN
                  - LINK
                  - CALCULATION
                  - ENUM
                  example: QUANTITY
                  description: The type of the parameter.
                unit:
                  type: string
                  description: Unit of the parameter (for QUANTITY type).
                  example: °C
                  nullable: true
                titleItemId:
                  type: string
                  format: uuid
                  description: ID of an item to use as the title (optional).
                  nullable: true
                calculation:
                  type: string
                  description: Calculation formula (only applicable for calculation type parameters).
                  nullable: true
                significantFiguresNum:
                  type: integer
                  description: Number of significant figures to use for the parameter (only applicable for calculation type parameters).
                  nullable: true
                enumValueOptions:
                  type: array
                  description: List of enum value options (only applicable for enum type parameters).
                  items:
                    type: object
                    properties:
                      title:
                        type: string
                    required:
                    - title
                  nullable: true
                linkTableIds:
                  type: array
                  description: List of link source table IDs from which items can be linked (only applicable for link type parameters).
                  items:
                    type: string
                    format: uuid
              required:
              - valueType
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Parameter'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postProtocolsByProtocolIdParameters
      x-operation-id-source: derived
  /parameters/{parameterId}:
    patch:
      tags:
      - Parameters
      summary: Update a parameter
      description: Updates an existing parameter.
      parameters:
      - name: parameterId
        in: path
        required: true
        description: The UUID of the parameter to update.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          format: uuid
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: New title for the parameter.
                  nullable: true
                description:
                  type: string
                  description: New description for the parameter.
                  nullable: true
                unit:
                  type: string
                  description: New unit for the parameter.
                  nullable: true
                titleItemId:
                  type: string
                  format: uuid
                  description: ID of an item to use as the title (optional).
                  nullable: true
                calculation:
                  type: string
                  description: Calculation formula (only applicable for calculation type parameters).
                  nullable: true
                significantFiguresNum:
                  type: integer
                  description: Number of significant figures to use for the parameter (only applicable for calculation type parameters).
                  nullable: true
                enumValueOptions:
                  type: array
                  description: List of enum value options (only applicable for enum type parameters). Omit `id` to add a new option; include `id` to keep or rename an existing option. Options not present in the array are removed.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      title:
                        type: string
                    required:
                    - title
                  nullable: true
                linkTableIds:
                  type: array
                  description: List of link source table IDs from which items can be linked (only applicable for link type parameters).
                  items:
                    type: string
                    format: uuid
                hash:
                  type: string
                  description: Hash for optimistic concurrency control. Get this from a previous GET request.
              required:
              - hash
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Parameter'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - The parameter has been modified since you last retrieved it
      operationId: patchParametersByParameterId
      x-operation-id-source: derived
    delete:
      tags:
      - Parameters
      summary: Delete a parameter
      description: Deletes a parameter.
      parameters:
      - name: parameterId
        in: path
        required: true
        description: The UUID of the parameter to delete.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          format: uuid
          minLength: 1
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: deleteParametersByParameterId
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
    Parameter:
      properties:
        id:
          type: string
          format: uuid
          description: UUID of this parameter.
        title:
          type: string
          description: Title of this parameter.
          example: Boiling Point
          nullable: true
        description:
          type: string
          description: Description of this parameter.
          nullable: true
        titleItemId:
          type: string
          format: uuid
          description: In some cases, the title of a parameter is another item, in this case this field is the UUID of that item, otherwise it's null.
          nullable: true
        type:
          type: string
          enum:
          - QUANTITY
          - TEXT
          - BOOLEAN
          - LINK
          - CALCULATION
          - ENUM
          - PREDICTION
          example: QUANTITY
          description: The type of the parameter.
        unit:
          type: string
          description: This is the unit of the parameter.
          example: kg
          nullable: true
        hash:
          type: string
          description: Hash for optimistic concurrency control.
        calculation:
          type: object
          description: Calculation formula (only applicable for calculation type parameters).
          nullable: true
        significantFiguresNum:
          type: integer
          description: Number of significant figures to use for the parameter (only applicable for calculation type parameters).
          nullable: true
        inputParameterIds:
          type: array
          description: IDs of input parameters (only applicable for calculation type parameters).
          items:
            type: string
            format: uuid
          nullable: true
        enumValueOptions:
          type: array
          description: List of enum value options (only applicable for enum type parameters).
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              title:
                type: string
          nullable: true
        linkTables:
          type: array
          description: List of link source table IDs from which items can be linked (only applicable for link type parameters).
          items:
            type: string
            format: uuid
      required:
      - id
      - title
      - description
      - titleItemId
      - type
      - unit
      - hash
      - calculation
      - significantFiguresNum
      - inputParameterIds
      - enumValueOptions
      - linkTables
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
