openapi: 3.2.0
info:
  title: Materials Zone Measurements API
  version: 2.0.0
  description: MaterialsZone's RESTful API is designed to facilitate seamless integration with your existing systems, enabling you to automate workflows, connect diverse data sources, and perform domain-specific analysis.
servers:
- url: https://api.materials.zone/v2beta1
security:
- ApiKey: []
tags:
- name: Measurements
  description: Measurements are the files that are uploaded to the system and can be parsed.
paths:
  /items/{itemId}/measurements:
    post:
      tags:
      - Measurements
      summary: Create a measurement
      description: This operation creates a measurement. See Python examples - multipart post request.
      parameters:
      - name: itemId
        in: path
        required: true
        description: The id of the item to create the measurement for.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                rawFile:
                  type: string
                  format: binary
                parserCode:
                  type: string
              required:
              - title
              - rawFile
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Measurement'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postItemsByItemIdMeasurements
      x-operation-id-source: derived
  /items/{itemId}/measurements/{measurementId}:
    patch:
      tags:
      - Measurements
      summary: Update existing measurement
      description: This operation updates an existing measurement.
      parameters:
      - name: itemId
        in: path
        required: true
        description: The id of the item to create the measurement for.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          minLength: 1
      - name: measurementId
        in: path
        required: true
        description: The id of the measurement to update.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                parserCode:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Measurement'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: patchItemsByItemIdMeasurementsByMeasurementId
      x-operation-id-source: derived
    delete:
      tags:
      - Measurements
      summary: Delete a single measurement
      description: This operation can be used to delete a single measurement.
      parameters:
      - name: itemId
        in: path
        required: true
        description: The id of the item to create the measurement for.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          minLength: 1
      - name: measurementId
        in: path
        required: true
        description: The id of the measurement to update.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          minLength: 1
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: deleteItemsByItemIdMeasurementsByMeasurementId
      x-operation-id-source: derived
components:
  schemas:
    Measurement:
      properties:
        id:
          type: string
          description: The id of the measurement.
        dateCreated:
          type: string
          format: date-time
          description: Immutable timestamp of when the measurement was created.
        dateUpdated:
          type: string
          format: date-time
          description: Timestamp that updates whenever the user makes adjustments to the measurement.
        title:
          type: string
          description: The title of the measurement.
        description:
          type: string
          description: Description of this measurement.
        parserCode:
          type: string
          description: The parser code of the measurement.
        rawFilename:
          type: string
          description: The raw filename of the measurement.
        rawFilDownloadURL:
          type: string
          description: The raw file download URL of the measurement.
      required:
      - id
      - dateCreated
      - dateUpdated
      - title
      - description
      - parserCode
      - rawFilename
      - rawFileDownloadURL
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
