openapi: 3.2.0
info:
  title: Materials Zone Items API
  version: 2.0.0
  description: MaterialsZone's RESTful API is designed to facilitate seamless integration with your existing systems, enabling you to automate workflows, connect diverse data sources, and perform domain-specific analysis.
servers:
- url: https://api.materials.zone/v2beta1
security:
- ApiKey: []
tags:
- name: Items
  description: Items are the rows in tables.
paths:
  /items/{itemId}:
    get:
      tags:
      - Items
      summary: Get a single item
      description: This operation retrieves a single item
      parameters:
      - name: itemId
        in: path
        required: true
        description: The UUID of the item to return.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          format: uuid
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Item'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getItemsByItemId
      x-operation-id-source: derived
    patch:
      tags:
      - Items
      summary: Update a single item
      description: This operation can be used to update both the metadata and values of a single item.
      parameters:
      - name: itemId
        in: path
        required: true
        description: The UUID of the item to update.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          format: uuid
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItem'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Item'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: patchItemsByItemId
      x-operation-id-source: derived
    delete:
      tags:
      - Items
      summary: Delete a single item
      description: This operation can be used to delete a single item.
      parameters:
      - name: itemId
        in: path
        required: true
        description: The UUID of the item to delete.
        example: eb1aa7b4-0e21-46de-b448-0c4eabdd32b7
        schema:
          type: string
          format: uuid
          minLength: 1
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: deleteItemsByItemId
      x-operation-id-source: derived
components:
  schemas:
    Measurement:
      properties:
        id:
          type: string
          description: The id of the measurement.
        dateCreated:
          type: string
          format: date-time
          description: Immutable timestamp of when the measurement was created.
        dateUpdated:
          type: string
          format: date-time
          description: Timestamp that updates whenever the user makes adjustments to the measurement.
        title:
          type: string
          description: The title of the measurement.
        description:
          type: string
          description: Description of this measurement.
        parserCode:
          type: string
          description: The parser code of the measurement.
        rawFilename:
          type: string
          description: The raw filename of the measurement.
        rawFilDownloadURL:
          type: string
          description: The raw file download URL of the measurement.
      required:
      - id
      - dateCreated
      - dateUpdated
      - title
      - description
      - parserCode
      - rawFilename
      - rawFileDownloadURL
    TableValue:
      properties:
        value:
          $ref: '#/components/schemas/TableValueValue'
        parameterId:
          $ref: '#/components/schemas/TableValueParameterId'
        formulationProtocolId:
          $ref: '#/components/schemas/TableValueFormulationProtocolId'
        formulationItemId:
          $ref: '#/components/schemas/TableValueFormulationItemId'
      required:
      - value
      - parameterId
      - formulationProtocolId
      - formulationItemId
    TableValueFormulationItemId:
      type: string
      format: uuid
      description: The formulationItemId represents the item that this value is linked to.
      nullable: true
    UpdateItem:
      properties:
        dateTime:
          type: string
          format: date-time
          description: User-configurable timestamp. For example, if the item represents a measurement, then this timestamp can be used to indicate when the measurement was taken.
          nullable: true
        description:
          type: string
          description: Description of this item.
          example: This item contains the chemical properties of Aluminum.
          nullable: true
        title:
          type: string
          description: Title of this item.
          example: Aluminum
          nullable: true
        values:
          type: array
          description: Values in this item, each value is an object that contains the parameter (column) UUID. Only values that the user wishes to update need to be provided.
          items:
            $ref: '#/components/schemas/UpdateTableValue'
          maxItems: 10000
          nullable: true
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
    TableValueParameterId:
      type: string
      format: uuid
      description: The parameterId represents the 'column' that this value is in.
      nullable: true
    TableValueValue:
      type: string
      description: The value in the table. This string is guaranteed to be parsable to the parameter type.
      example: '1'
      nullable: true
    Item:
      properties:
        code:
          type: string
          example: AA-123
          description: Short code that uniquely defines an item within an organization. Consists by default of the user's code and an alphanumerical counter, separated by a dash.
        dateCreated:
          type: string
          format: date-time
          description: Immutable timestamp of when the item was created.
        dateTime:
          type: string
          format: date-time
          description: User-configurable timestamp. For example, if the item represents a measurement, then this timestamp can be used to indicate when the measurement was taken.
          nullable: true
        dateUpdated:
          type: string
          format: date-time
          description: Timestamp that updates whenever the user makes adjustments to the item.
        description:
          type: string
          description: Description of this item.
          example: This item contains the chemical properties of Aluminum.
          nullable: true
        id:
          type: string
          format: uuid
          description: UUID of this item.
        tableId:
          type: string
          format: uuid
          description: UUID of the table that this item belongs to.
        title:
          type: string
          description: Title of this item.
          example: Aluminum
        values:
          type: array
          description: Values in this item, each value is an object that contains the parameter (column) UUID. This array is sparse, meaning, it only contains non-null values.
          items:
            $ref: '#/components/schemas/TableValue'
          nullable: true
        measurements:
          type: array
          description: Measurements in this item.
          items:
            $ref: '#/components/schemas/Measurement'
          nullable: true
      required:
      - code
      - dateCreated
      - dateUpdated
      - dateTime
      - id
      - tableId
      - title
      - description
      - values
      - measurements
    TableValueFormulationProtocolId:
      type: string
      format: uuid
      description: The formulationProtocolId represents the 'column group' that this value is in.
      nullable: true
    UpdateTableValue:
      properties:
        value:
          $ref: '#/components/schemas/TableValueValue'
        parameterId:
          $ref: '#/components/schemas/TableValueParameterId'
        formulationProtocolId:
          type: string
          format: uuid
          description: In case the value is created in a formulation protocol, you supply the protocol UUID instead of the parameter UUID.
          nullable: true
        formulationItemId:
          type: string
          format: uuid
          description: In case the value is created in a formulation protocol, you supply the item UUID instead of the parameter UUID.
          nullable: true
      required:
      - value
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
