openapi: 3.2.0
info:
  title: Materials Zone Jobs API
  version: 2.0.0
  description: MaterialsZone's RESTful API is designed to facilitate seamless integration with your existing systems, enabling you to automate workflows, connect diverse data sources, and perform domain-specific analysis.
servers:
- url: https://api.materials.zone/v2beta1
security:
- ApiKey: []
tags:
- name: Jobs
  description: Jobs are used to perform long running tasks.
paths:
  /jobs:
    get:
      tags:
      - Jobs
      summary: Get all jobs
      description: This operation retrieves all jobs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getJobs
      x-operation-id-source: derived
  /jobs/{jobId}/job-runs:
    post:
      tags:
      - Jobs
      summary: Trigger a job run
      description: This operation triggers a job run.
      parameters:
      - name: jobId
        in: path
        required: true
        description: The id of the job to trigger.
        example: job-id
        schema:
          type: string
          minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              maxProperties: 10000
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/JobRun'
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postJobsByJobIdJobRuns
      x-operation-id-source: derived
components:
  schemas:
    JobRun:
      properties:
        id:
          type: string
          description: The id of the job run.
        jobId:
          type: string
        dateQueued:
          type: string
          format: date-time
        dateInProgress:
          type: string
          format: date-time
        dateCompleted:
          type: string
          format: date-time
        dateFailed:
          type: string
          format: date-time
        status:
          type: string
        payload:
          type: string
        logs:
          type: object
          properties:
            text:
              type: string
            severity:
              type: string
            dateCreated:
              type: string
              format: date-time
      required:
      - id
      - jobId
      - dateQueued
      - dateInProgress
      - dateCompleted
      - dateFailed
      - status
      - payload
      - logs
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
    Job:
      properties:
        id:
          type: string
          description: The id of the job.
        title:
          type: string
          description: The title of the job.
        description:
          type: string
          description: The description of the job.
        expectedPayload:
          type: array
          items:
            type: string
          description: The expected payload of the job.
      required:
      - id
      - title
      - description
      - expectedPayload
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
